{% extends 'app/base.html' %} {% block contenido %} {% load humanize %}
<div class="card">
  <div class="card-body">
    <h2>Listado de productos</h2>
    <hr />
    <table class="table table-striped table-hover table-responsive-sm">
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Es nuevo ?</th>
        <th>Opciones</th>
      </tr>
      {% for p in productos %}
      <tr>
        <td>{{ p.nombre | title }}</td>
        <td>${{ p.precio | intcomma }}</td>
        <td>{{ p.marca | title }}</td>
        <td>{% if p.nuevo %} SI {% else %} NO {%endif%}</td>
        <td>
          <a href="{% url 'editar_producto' p.id %}" class="btn btn-info btn-sm"
            >Modificar</a
          >
          <a
            href="{% url 'eliminar_producto' p.id %}"
            class="btn btn-danger btn-sm"
            >Eliminar</a
          >
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
